<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head" ></head>
<body>
    <div th:replace="fragments :: js"></div>
    <link th:href="@{/css/profiledata.css}" rel="stylesheet" />
    <div th:replace="fragments :: nav-bar"></div>
    <link th:href="@{/css/post.css}" rel="stylesheet" />

    <h2 th:text="${username + &quot;'s profile&quot;}"></h2>
    <div>
        <table class="blueish-table">
            <thead>
            <tr>
                <th></th>
                <th>Usage</th>
                <th>Chosen plan</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Name of the plan</th>
                <td></td>
                <td th:text="${packagePlan.plan}"></td>
            </tr>
            <tr>
                <th>Number of uploaded photos (today)</th>
                <td th:text="${consumption.numberOfUploadedPhotos}"></td>
                <td th:text="${packagePlan.dailyUploadLimit}"></td>
            </tr>
            <tr>
                <th>Maximum photo size</th>
                <td></td>
                <td th:text="${packagePlan.uploadSize}"></td>
            </tr>
            </tbody>
        </table>

        <form method="post" th:action="@{/profile/admin-view/{username}/change-plan(username=${user.username})}" class="card-body cardbody-color p-lg-5">
            <div class="inline">
                <h4>Upgrade their plan: </h4>
            </div>
            <div>
                <select class="form-control" id="plan" name="plan">
                    <option value="FREE">FREE</option>
                    <option value="PRO">PRO</option>
                    <option value="GOLD">GOLD</option>
                </select>
            </div>
            <div> <!--class="text-center"-->
                <input type="submit" value="Change plan" class="custom-button" />
            </div>
        </form>
    </div>

    <h2 th:text="${username + &quot;'s feed&quot;}"></h2>

    <section class="main">
        <div class="wrapper">
            <div class="left-col">
                <div th:each="photo : ${photos}" class="post">
                    <div class="info">
                        <div class="user">
                            <p class="username" th:text="${photo.profile.username}"></p>
                        </div>
                    </div>
                    <!--<img class="post-image" th:src="@{'data:image/png;base64,' + ${#strings.encodeBase64(photo.photo)}}" th:alt="${photo.description}">
              <img class="post-image" th:src="@{'/images/' + ${photo.photo}}" th:alt="${photo.description}">-->
                    <img th:src="@{/images/image.jpg}" class="post-image" alt="">
                    <div class="post-content">
                        <p class="hashtags" id="hashtags" th:text="${photo.hashtags}"></p>
                        <p class="description">
                            <span th:text="${photo.description}" id="description"></span>
                        </p>
                        <p class="post-time" id="time" th:text="${photo.uploadTime}"></p>
                        <div>
                            <button type="button" class="edit-button" onclick="enableEdit()">Edit</button>
                            <button type="button" class="edit-button" th:attr="data-csrf-token=${_csrf.token}" th:onclick="|saveChanges(${photo.id})|">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        function enableEdit() {
            document.getElementById("hashtags").contentEditable = true;
            document.getElementById("description").contentEditable = true;
        }

        function saveChanges(photoId) {
            var hashtags = document.getElementById("hashtags").innerText;
            var description = document.getElementById("description").innerText;
            var csrfToken = document.querySelector('[data-csrf-token]').getAttribute('data-csrf-token');

            fetch('/profile/save-photo-changes/'+ photoId, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': csrfToken
                },
                body: JSON.stringify({
                    photoId: photoId,
                    hashtags: hashtags,
                    description: description
                })
            })
                .then(response => {
                    // Handle the response as needed
                })
                .catch(error => {
                    // Handle any errors
                });
        }
    </script>



    <div th:replace="fragments :: js"></div>
</body>
</html>